* {
  padding: 0;
  margin: 0;
  /* box-sizing: border-box; */
  font-family: Arial, Helvetica, sans-serif;
  outline: none;
  border: none;
  text-decoration: none;
  /* text-align: center; */
}
::-webkit-scrollbar {
  background-color: rgba(177, 228, 245, 0.783);
  width: 0.3rem;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(60, 157, 190, 0.541);
  border-radius: 20px;
}
::-webkit-scrollbar:hover {
  width: 0.6rem;
  box-shadow: -10px -10px -10px;
}
::-webkit-scrollbar-thumb:active {
  background-color: rgba(29, 121, 152, 0.854);
}
html {
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
  transition: all 0.5s ease-in-out;
  background-repeat: no-repeat;
  background: #2980B9;
  background: -webkit-linear-gradient(to top, #FFFFFF, #6DD5FA, #2980B9);
  background: linear-gradient(to top, #FFFFFF, #6DD5FA, #2980B9);

}
#mapVideo {
  z-index: -2;
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
section {
  display: block;
  background-color: rgba(255, 255, 255, 0.379);
  margin: 2vh 5vw;
  min-height: 100vh;
  border-radius: 10px;
}
i {
  color: rgb(35, 89, 107);
}
header,
footer {
  display: flex;
  background: linear-gradient(to right, #ffffff00, #ffffff, #ffffff00);
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding: 0.5vw;
  font-size: 1.2em;
}
#logo {
  height: 2em;
  width: 2em;
  border-radius: 5%;
}
.logoDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}
.heading {
  font-weight: bolder;
}
header div {
  width: 30%;
}
.nav a {
  font-size: 0.8em;
  margin-left: 2vw;
  color: rgb(0, 0, 0);
  font-weight: 500;
  display: inline-block;
}
.nav a:hover {
  transition: 0.2s ease-in-out;
  text-shadow: rgb(32, 69, 70) 10px 10px 10px;
}
.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search {
  font-size: 1em;
  padding: 1vw;
  background-color: #ffffffd5;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 30vh;
  min-height: 5vh;
  min-width: 60vmin;
  display: block;
  border-radius: 10px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.label {
  font-size: medium;
  padding: 0vw 2vw;
}
.input {
  margin-top: 1.25vw;
  display: flex;
  justify-content: center;
}
#searchInput:hover {
  box-shadow: cadetblue 5px 5px 5px;
  transition: 0.2s ease-in-out;
}

#searchInput::-webkit-scrollbar {
  border-radius: 20px;
  background-color: rgba(192, 221, 231, 0.549);
  width: 0.7rem;
}
#searchInput::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.699);
  width: 0.7rem;
}
#searchInput {
  border: 2px dotted rgb(63, 169, 205);
  border-radius: 25px;
  background-color: #ffffff;
  font-size: 1em;
  padding: 0.5vw 1vw;
  width: 100%;
  background-color: rgba(192, 221, 231, 0.611);
}
#btn {
  font-size: 1em;
  margin-top: 1.25vw;
  padding: 0.5vw 1.5vw;
  margin-bottom: 1rem;
  background-color: rgba(35, 168, 183, 0.758);
}
#btn:hover {
  box-shadow: cadetblue 5px 5px 5px;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}
.cards {
  margin: 0 7vw;
  margin-top: 35vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  min-width: 75vw;
}
.country {
  padding: 0.7rem 1rem;
}
.country h2{
  font-size: 1.5rem;
}
.country h3{
  font-size: 1rem;
}
#region {
  color: rgb(106, 107, 103);
  padding-top: 0.2rem;
  font-size: 0.8em;
  text-transform: uppercase;
}
.icons {
  height: 1.5rem;
  padding: 0.7rem 1rem;
}
.data {
  margin: auto 0.5rem;
}
#note {
  transition: all 1s ease-in;
  font-size: x-large;
}
.card {
  margin: 1rem;
  box-sizing: border-box;
  padding-bottom: 1vw;
  border-radius: 10px;
  background-color: #ffffff;
  min-height: 35vh;
  max-width: 50%;
  width: 35vh;
}
#flag {
  border: 1px solid cadetblue;
  border-radius: 10px 10px 0 0;
  height: 20vh;
  width: 100%;
}
.facts {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
}
#readMore {
  font-size: small;
  text-align: left;
  padding: 0.7rem 1rem;
  color: cadetblue;
}
#goTopBtn {
  color: rgb(79, 144, 166);
  font-size: medium;
}
footer {
  display: block;
  font-size: small;
  text-align: center;
}
.footer {
  margin-top: 0.5em;
  width: 100%;
  display: flex;
  justify-content: center;
}

@media (max-width: 450px) {
  * {
    font-size: medium;
  }
  #logo {
    height: 20px;
    width: 20px;
  }
  .nav a {
    font-size: 1.8vh;
  }
  .country h2 {
    font-size: 5vw;
  }
  .country h3 {
    font-size: 4vw;
  }
  .facts p {
    font-size: 3.5vw;
  }
  #region{
    font-size: 0.7em;
  }
  .icons {
    height: 1rem;
  }
  #note {
    font-size: medium;
  }
  #readMore a{
    font-size: 1em;
  }
  .card {
    margin: 1rem;
    box-sizing: border-box;
    padding: 1vw 0;
    border-radius: 10px;
    min-height: 20vh;
    max-width: 80%;
  }
  footer div{
    text-align: center;
    font-size: smaller;
  }
}
